{{!-- This will create a container for the information that will be displayed to the admin when viewing a table. --}}

<link rel="stylesheet" type="text/css" href="/assets/css/adminProduct.css">
<div class="container">
  <div class="row row-cols-1 row-cols-lg-3 border-bottom">
  {{#each data}}
    <div class="col product-container m-auto">
      <div class="col-12 product-taxonomy">{{dataValues.subCategory}} > {{dataValues.subCategory}} > {{dataValues.brand}}</div>  
        <div class="row">
          <div class="col-6"> 
            <div class="product-thumbnail">
              <img class="product-image" width="100%" src="{{dataValues.image_URLs}}">
            </div>
          </div>
          <div class="col-6">
                <p class="product-name">
                {{dataValues.name}}
              </p>
              <p>${{dataValues.price}}</p>
              <p><a href="/admin/Product/change/byId/{{dataValues.id}}" class="editProduct">Edit</a></p>
          </div> 
        </div>
    </div>
  {{/each}}
  </div>

{{!-- Provide buttons which link to different pages based on what the admin wants to accomplish. --}}
<div class="row">
  {{!-- Sends the user to the change by category page --}}
  <form class="col-4">
  <h4 class="admin-tools"> Change by Column-name </h4>

  <select id="change-by-category"> 
    <option value="null">Column Name</option >
    <option value="brand">Brand</option >
    <option value="category">Category</option >
    <option value="subCategory">subCategory</option >
    <option value="price">Price</option >
  </select>
  </form>
  {{!-- Sends the user to the change by id page. --}}
  <div class="col-4">

  </div>

  {{!-- Sends the user to the add product page. --}}
  <form class="col-4">
  <h4 class="admin-tools"> Add Product </h4>

  <button type="button" class="btn btn-primary btn-sm admin-button" id="add-product">Add a Product</button>
  </form>

  </div>

</div>

		<script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/admin.js"></script>