{{!-- Can change by id --}}

<div class="container">
{{!-- Loops through the item to display the keys as headers. --}}
<table >
    <tr >
        {{#each item}}
        <th >
            {{@key}}
        </th >
        {{/each}}

    </tr>
{{!-- displays current views. --}}
    <tr >
        {{#each item}}
            <td >
             {{this}}
            </td>
        {{/each}}   
    </tr>
    

{{!-- creates a row with the input forms. --}}
<tr>

        {{#each item}}
            <td >
<form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="id-{{@key}}">Name</label>
      <input type="text" class="form-control mb-2" id="id-{{@key}}">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary mb-2 change-submit" data-cat="{{@key}}">Submit</button>
    </div>
  </div>
</form> 
            </td>
        {{/each}}   
</tr>      
</table>   

{{!-- Sends user back to main product view with options --}}
<button type="button" class="btn btn-primary m-4" id="back-to-product">Back to All Product</button>
</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/adminchangeid.js"></script>