<div class="container bootdey">
    <div class="col-md-12">
    <section class="panel">
          <div class="panel-body">
              <div class="col-md-6">
                  <div class="pro-img-details">
                      <img id="productImg" src="{{image_URLs}}" alt="">
                  </div>
              </div>
              <div class="col-md-6 indvProDesc">
                  <h4 class="pro-d-title">
                      <a href="#" class="">
                        {{brand}}: {{name}}
                      </a>
                  </h4>
                  <p>
                  </p>
                  <div class="product_meta">
                      <span class="posted_in"> <strong>Categories:</strong> <a rel="tag" href="#">{{category}}</a>, <a rel="tag" href="#">{{subCategory}}</a>, </span>
                  </div>
                  <div class="m-bot15"> <strong>Price: ${{price}} </strong>
                  </div>


                  <p>
                      <button class="btn btn-round btn-danger add-to-cart" data-id="{{id}}" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </p>
              </div>
          </div>
      </section>
      </div>
      </div>

      <script src="/assets/js/indvProd.js"></script>


