
{{!-- <div>
{{#each products}}
<h1>{{dataValues.brand}}</h1>
{{dataValues.name}}
{{dataValues.catergory}}
{{dataValues.subCategory}}
{{dataValues.price}}
{{dataValues.image_URLs}}
{{dataValues.createAt}}
{{dataValues.updatedAt}}
{{/each}}
</div> --}}

<div class="container">
    <div class="row row-cols-3">
         {{#each products}}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{dataValues.image_URLs}}" class="card-img-top shopImg" alt="{{dataValues.name}}">
                    <div class="card-body cardSize">
                      <h5 class="card-title">{{dataValues.name}}</h5>
                    </div>
                    <hr/>
                    <div class="btnSpot divider row">
                      <a href="/shop/product/{{dataValues.id}}" class="btn btn-primary col-auto">Buy</a><h5 class="card-title price col-auto">${{dataValues.price}}</h5>
                      <button class="btn btn-round btn-danger add-to-cart ml-auto col-auto" data-id="{{dataValues.id}}" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                    </div> 
                      
                </div>
            </div>
        {{/each}} 
    </div>   
</div>