<div class="container" id="productlist">
    <div class="row row-cols-3">
         {{#each products}}
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <a class="card-img-top shopImg" href="/shop/product/{{dataValues.id}}">
                    <img src="{{dataValues.image_URLs}}" class="card-img-top shopImg" alt="{{dataValues.name}}">
                    </a>
                    <div class="card-body cardSize">
                      <h5 class="card-title"><a href="/shop/product/{{dataValues.id}}">{{dataValues.name}}</a></h5>
                    </div>
                    <hr/>
                    <div class="btnSpot divider row">
                      <button class="btn btn-round btn-danger add-to-cart col-auto" data-id="{{dataValues.id}}" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button><h5 class="card-title price col-auto">${{dataValues.price}}</h5>
                    </div> 
                      
                </div>
            </div>
        {{/each}} 
    </div>   
</div>